@use "../utilities/variables";
@use "../utilities/extend";

.main-contacto{
    background-color: variables.$main-background-color;
}

.texto-contacto{
    padding: 50px 0px;
    width: 60%;
    @extend %centrar;
}

.mapa-info{
    @extend %centrar;
    padding-bottom: 50px;
    width: 70%;
}


