@use "../utilities/variables";

.main-contacto{
    background-color: variables.$main-background-color;
}

.texto-contacto{
    padding: 50px 0px;
    width: 60%;
    justify-self: center;
    text-align: center;
}

.mapa-info{
    padding-bottom: 50px;
}
