@use "../utilities/mixins";

footer{
    @include mixins.flex(row, space-between, null);
    padding: 16px;
    background-color: #43176d;

    .footer-nav {
        @include mixins.flex(row, space-between, null);
        padding: 16px;

        ul{
            @include mixins.flex(column, flex-start, flex-start);
            gap: 32px;
        }
    }

    .logo-redes{
        @include mixins.flex(column, center, center);
        gap: 15px;
    }

    .redes-footer{
        @include mixins.flex(row, center, center);
        gap: 10px;
    }

    .redes-logo{
        width: 25px;
    }

    .a-nav {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
}