
@use "../utilities/variables";

body{
    // padding: 0px 12px;
    font-family: "Nunito", sans-serif;
    background-color: black;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 16px;
}

h1{
    color: variables.$main-text-color;
    font-size: variables.$h1-size;
}

h2{
    color: variables.$main-text-color;
    font-size: variables.$h2-size;
}

h4{
    color: variables.$main-text-color
}

p{
    color: variables.$main-text-color;
    font-size: variables.$p-size;
}

