@use "../utilities/mixins";

.logo {
    width: 100px;
}

.bg-nav-propio{
    background-color: blueviolet;
}
.navbar {
    padding: 16px;

    .navbar-nav{
        gap: 32px;

        .nav-item{
            list-style-type: none;
        }
        .nav-link {
            text-decoration: none;
            color: white;
            font-size: 24px;

            &:hover{
                color: rgba(255, 255, 255, 0.842);
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar-collapse {
        justify-content: flex-end; 
    }
}