@use "../utilities/extend";

.lunes-jueves{
    background-image: linear-gradient(#0000003a, #0000003a), url(../assets/juego-2.webp);
    @extend %background;
    @extend %horarios-mp;
}

.viernes-sabado{
    background-image: linear-gradient(#0000003a, #0000003a), url(../assets/foto-1.webp);
    @extend %background;
    @extend %horarios-mp;
}

.domingos-feriados{
    background-image: linear-gradient(#0000003a, #0000003a), url(../assets/foto-4.webp);
    @extend %background;
    @extend %horarios-mp;
    margin-bottom: 50px;
}

@media (max-width: 992px){
    .lunes-jueves{
        padding: 30% 0%;
    }

    .viernes-sabado{
        padding: 30% 0%;
    }

    .domingos-feriados{
        padding: 30% 0%;
    }
}