@use "../utilities/mixins";
@use "../utilities/extend";
@use "../utilities/variables";

.principal-home{
    background-image: url(../assets/foto-1.webp);
    @extend %background;
    padding: 22% 0%;
}

.texto-home{
    flex-direction: row;
    padding: 70px 0px;
    background-color: variables.$main-background-color;

    img{
        width: 30%;
    }

    p{
    width: 600px;
}
}