@use "../utilities/mixins";
@use "../utilities/extend";

.principal-home{
    background-image: url(../assets/foto-1.webp);
    @extend %background;
}

.texto-home{
    flex-direction: row;
    padding: 70px 0px;
    background-color: #5b258d;

    img{
        width: 30%;
    }

    p{
    width: 600px;
}
}