@use "../utilities/extend";

.card-container{
    @extend %card;
}

.card {
    width: 300px;
    padding: 16px;
    border: 1px solid white;
    border-radius: 5px;
    gap: 100px;

    img{
        width: 100%;
    }

    p{
        margin-top: 12px;
        text-align: center;
    }
}