@use "../utilities/extend";

.card-container{
    @extend %card;
}

.tarjeta-juego {
    width: 300px;
    padding: 16px;
    border: 1px solid white;
    border-radius: 5px;
    gap: 100px;

    img{
        width: 100%;
    }

    p{
        margin-top: 12px;
        text-align: center;
    }
}

.h2-juegos{
    justify-self: center;
}

.galeria-item{
    overflow: hidden;
    border: 2px #bd00ff;
    border-radius: 10px;

    &:hover{
        transform: scale(1.1);
    }
}