@use "../utilities/mixins";
@use "../utilities/extend";

.principal-nosotros{
    @include mixins.flex(row, center, center);
    background-color: #43176d;
    gap: 40px;

    img{
        width: 50%;
    }
}


.presentacion{
    @include mixins.flex(column, center, center);
    gap: 30px;
}

.texto-nosotros{
    background-image: linear-gradient(#0000003a, #0000003a), url(../assets/foto-3.webp);
    @extend %background;
    padding: 20% 0%;

    p{
        width: 60%;
        @extend %centrar;
    }
}

@media (max-width: 992px){
    .principal-nosotros{
        flex-direction: column;
    }

    img{
        width: 100%;
    }
    p{
        width: 80%;
    }
}