/*Fuente nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Nunito", sans-serif
}

.li-nav{
    list-style-type: none;
}

.a-nav{
    text-decoration: none;
    color: black;
}