/*Fuente nunito*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.logo {
  width: 100px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blueviolet;
  padding: 16px;
}
.header-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.header-nav ul li {
  list-style-type: none;
}
.header-nav ul .a-nav {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-color: #43176d;
}
footer .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
footer .footer-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}
footer .logo-redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
footer .redes-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .redes-logo {
  width: 25px;
}
footer .a-nav {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: 16px;
}

h1 {
  color: white;
  font-size: 32px;
}

h2 {
  color: white;
  font-size: 28px;
}

h4 {
  color: white;
}

p {
  color: white;
  font-size: 20px;
}

.lunes-jueves, .viernes-sabado, .domingos-feriados, .texto-nosotros, .principal-home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lunes-jueves, .viernes-sabado, .domingos-feriados {
  margin-top: 50px;
  padding: 7% 0%;
}

.card-container {
  margin: 32px 0;
  padding: 80px 0px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 100px;
  flex-wrap: wrap;
  background-color: #5b258d;
}

.principal-home {
  background-image: url(../assets/foto-1.webp);
  padding: 22% 0%;
}

.texto-home {
  flex-direction: row;
  padding: 70px 0px;
  background-color: #5b258d;
}
.texto-home img {
  width: 30%;
}
.texto-home p {
  width: 600px;
}

.principal-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #43176d;
  gap: 40px;
}
.principal-nosotros img {
  width: 50%;
}

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.texto-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2274509804), rgba(0, 0, 0, 0.2274509804)), url(../assets/foto-3.webp);
  padding: 20% 0%;
}
.texto-nosotros p {
  width: 60%;
  justify-self: center;
  text-align: center;
}

.card {
  width: 300px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 5px;
  gap: 100px;
}
.card img {
  width: 100%;
}
.card p {
  margin-top: 12px;
  text-align: center;
}

.lunes-jueves {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2274509804), rgba(0, 0, 0, 0.2274509804)), url(../assets/juego-2.webp);
}

.viernes-sabado {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2274509804), rgba(0, 0, 0, 0.2274509804)), url(../assets/foto-1.webp);
}

.domingos-feriados {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2274509804), rgba(0, 0, 0, 0.2274509804)), url(../assets/foto-4.webp);
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
